@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    line-height: 1.5;

}
:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --logo-font:  'Chonburi', cursive;
  } 
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  .container{
      max-width: 1170px;
      margin: auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .align-items-center{
      align-items: center;
  }
  .justify-content-between{
      justify-content: space-between;
  }
  /*header*/
  .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
  }
 
  .header .logo,
  .header .nav{
      padding:0 15px;
  }
  .header .logo a{
      font-size: 30px;
      color: #000000;
      text-transform: capitalize;
  }
  .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
  }
  .header .nav ul li a{
      display: block;
      font-size: 16px;
      padding:10px 0;
      color: #000000;
      text-transform: capitalize;
      transition: all 0.5s ease;
      font-family:'Space Grotesk', sans-serif;
  }
  .header .nav ul li a:hover,
  .header .nav ul li a.active{
      color:  #B4212E;
  }
  .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
  }
  .header-logo{
    width: 5rem;
  }
  .nav-toggler{
      height: 34px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
  }
  .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--black-color);
      position: relative;
  }
  .nav-toggler span::before,
  .nav-toggler span::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: var(--black-color);
     left:0;
  }
  .nav-toggler span::before{
      top: -6px;
  }
  .nav-toggler span::after{
      top: 6px;
  }

  .banner{
    display: block;
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
  }
    .banner-name{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 29rem;
    font-size: 6rem;
    color: rgb(252, 252, 252);
    font-weight: 500;
    font-family: var(--logo-font);
    opacity: 0.7;
  }
.video-banner{
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    z-index:  1;
    overflow: hidden;
}
.video-banner video{
    position: relative;
    top: 50%;
    
    object-fit: cover;
    width: 100%;
    transform: translate(-50%, -50%);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    overflow: hidden;
    line-height: 2;
    margin-top: -2rem;
    
}
.info h2{
    margin: 1rem;
    margin-right: 18rem;
    font-size: 3.5rem;
    font-family: var(--logo-font);
    color: #D0B597;
    line-height: 1;
}
.she-gif{
  font-size: 5rem;
  margin-left: 15rem;
  margin-top: -2rem;
  font-family: 'Great Vibes', cursive;
  color: rgb(188, 27, 27);
}
.info p{
  font-family:'Space Grotesk', sans-serif; 
    color: rgb(14, 14, 14);
    font-size: 1.5rem;
    margin: 2rem 5rem 5rem 3rem ;
}

.discography-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200vh;
  overflow: hidden;
  border-top: 3px solid rgb(235, 235, 235);
   background-image: linear-gradient(rgba(247, 247, 247, 0.9), rgba(0, 0, 0, 0.9)), url("/img/cerezas.png");
  background-repeat: repeat;
  backdrop-filter: blur(5px);
  
}
.discography-title{
  font-weight: 900;
  font-size: 3rem;
  font-family: var(--logo-font);
  margin-top: 3rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-gap: 40px;
    width: 100vh;
    margin-left: -8rem;   
    margin-top: 5rem; 
    
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 16rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.card-image{
    position: relative;
}

.card-info{
   line-height: 2rem;
    padding: 10px 10px;
}

.card-info h3{
    text-align: center;
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-weight: 550;
    font-size: 2rem;
    margin: 1px 0 1px 0;
}

.card-info p{
    color: #262626;
    line-height: 30px;
    font-size: 0.9rem;
    margin: 6px 0 1px 0;
    text-align: center;
}

img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/img/vinilo.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
    opacity: rgba(0,0,0,0.6) ;
    overflow: hidden;
}

.text{
  color:#D0B597 ;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.3rem;
  width: 9rem;
  margin-left: 3rem;
}

.songs-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 25px;
    margin-left: 18rem;
    width: 50rem;
    height:20rem;
}
.song{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color:1px solid aqua;
    padding: 1rem;
    height: 5rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.song.one:hover{
  background-color: #4287bc;
  color: white;
}
.song.two:hover{
  background-color: #543031;
  color: white;
}
.song.three:hover{
  background-color: #572767;
  color: white;
}
.song.four:hover{
  background-color: #917f37;
  color: white;
}
.song.five:hover{
  background-color: #434343;
  color: white;
}
.song.six:hover{
  background-color: #232e6a;
  color: white;
}
.song.seven:hover{
  background-color: #e59d39;
  color: white;
}
.song.eigth:hover{
  background-color: #5d9341;
  color: white;
}
.song-img{
    width: 3.8em;
    margin-top: -0.4em;
}
.song-img img{
    border-radius: 20em;
}
.song-name{
  margin-left: 2em;
  font-family: var(--logo-font);
}
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  .slider-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(/img//FONDOO.png);
  }
  .collabs-title{
    color: #B4212E;
    font-family: var(--logo-font);
    font-size: 3em;
    font-weight: 800;
  }
  .slider {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 4rem;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 24px -3px rgba(0,0,0,0.55);
    
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text-one {
    background-image: url(/img/the-weeknd.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: white;
  }
  .slide__text-two {
    background-image: url(/img/a$ap.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: white;
  }
  .slide__text-three {
    background-image: url(/img/angel.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: white;
  }
  .slide__text-four {
    background-image: url(/img/TaylorSwift-Lana-Del-Rey-collaboration-Midnights-696x442.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: white;
  }
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
    
  }
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid  #B4212E;;
    border-width: 0 5px 5px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 0 10px;
  }
  
 
  
 
.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/img/recortada.jpg") ;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.book h1{
  font-size: 3em;
  font-weight: 500;
  color: rgb(234, 211, 211);
  font-family:  var(--logo-font);
}
.book h4{
  color: #4c5e2e;
  font-size: 2em;
  font-weight: 500;
  font-family:  var(--logo-font);
}

 .book-explication{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    margin: 2rem;
    
}
.book-img{
    width: 45%;
    height: 100%;
    
}
.image-book{
    width: 30rem;
    border-radius: 2em;
    box-shadow: 5px 5px 28px -2px rgba(255, 140, 73, 0.891);
}
.book-text{
  background-color: white;
    width: 45%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5em;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/kiss.jpg") ;
    overflow: hidden;
    width: 100%;
    height: 40vh;
  }
footer h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2REM;
}
.music-stream{
  display: flex;
  flex-direction: row;
  width: 13em;
  
  justify-content: center;
  align-content:space-between;
  margin-top: 1em;
  margin-bottom: 2em;
  
}
footer p{
  color: rgba(255, 255, 255, 0.591);
  font-size: 12px;
}

  @media(max-width: 991px){
      .nav-toggler{
          display: flex;
      }
      .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: rgba(42, 42, 42, 0.678);
          backdrop-filter: blur(50px);
          border-top: 1px solid rgba(118, 118, 118, 0.2);
          opacity:0;
          visibility: hidden;
      }
      .header .nav ul li{
          display: block;
          margin:0;
      }
      .header #nav-check:checked ~ .nav{
         opacity: 1;
         visibility: visible;
      }
      .header #nav-check:focus ~ .nav-toggler{
          box-shadow: 0 0 15px #a1a1a1;
      }
      .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
      }
      .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
      }
      .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
      }
       h1{
        font-size:12px ;
      }
      .banner{
        width: 100%;
        height: 50vh;
      }
      video{
        z-index: -2;
      }
      .info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
        
      }
      .info h2{
        margin-left: 9rem;
        font-size: 2.5rem;
      }
      .she-gif{
        margin-left: -5rem;
        font-size: 3rem;
      }
      .info p{
        text-align: left;
        font-size: 1.2rem;
      }
      .discography-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        width: 100%;
        height: 420vh;
      }
      .cards{
        grid-template-columns: repeat(1, 1fr); 
        margin-left: 30rem;
      
  }
  .grid-container{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .text{
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    margin-top: -25rem;
  }
  .songs-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 29rem;
  }
  .slider-container{
    height: 90vh;
    padding: 1rem;
  }
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 30px;
    height: 30px;
    border: solid  #B4212E;;
    border-width: 0 5px 5px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  .book h4{
    font-size: 1rem;
  }
  .book h1{
    font-size: 2rem;
  }
  .book-explication{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .book-img{
    width: 100%;
    height: 100%;   
    
    border-radius: 25px;
  }
.image-book{
  width: 25rem;
  box-shadow: 5px 5px 28px -2px rgba(255, 140, 73, 0.891);
}
  .book-text{
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: left;
  }
}